<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TorqueLearn - About</title>
  <link rel="stylesheet" href="static/main.css"/>
</head>
<body>
  <header>  
    <img id="logo" src="static/logo.svg" />
    <span id="logotext">TorqueLearn</span>
    <div class="header-left-buttons">
      <a href="/">
        <button>
          Home
        </button>
      </a>
      <a href="/browse">
        <button>
          Browse
        </button>
      </a>
      <a href="/about">
        <button>
          About
        </button>
      </a>
    </div>
    <div class="header-right">
      <div>
        <input type="text" id="search" placeholder="Search...">
      </div>
    </div>
  </header>

  <div id="content">
  </div>
</body>
</html>
