<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TorqueLearn - {PAGE_NAME}</title>
  <link rel="stylesheet" href="/static/main.css"/>
  <link rel="stylesheet" href="/static/tutorial.css"/>
  <link rel="stylesheet" href="/static/prism/light.css"/>
  <!--<link rel="icon" href="/static/small_black_logo.jpeg"/>-->
  <link rel="icon" href="/static/logo_light.svg"/>
</head>
<body>
  <header>  
    <a href="/">
      <img id="logo" src="/static/logo_light.svg" />
      <span id="logotext">TorqueLearn</span>
    </a>
    <div class="header-left-buttons">
      <a href="/Tutorials">
          Tutorials
      </a>
      <a href="https://github.com/TexasTorque/TorqueLearn">
          About
      </a>
      <a href="../index.html">
          <em>Back ...</em>
      </a>
    </div>
    <div class="header-right">
      <div>
      </div>
    </div>
  </header>
  
  <div id="content">
    <div id="toc">
      <span id="toc-title">FEATURED TUTORIALS</span>
      <ul>
        {TOC}
      </ul>
    </div>
    <div id="main">
      <div id="inner">
      {CONTENT}
      </div>
    </div>
  </div>
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
  <script src="/static/prism/prism.js"></script>
</body>
</html>
