<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TorqueLearn</title>
  <link rel="stylesheet" href="/static/main.css"/>
  <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
  <header>  
    <a href="/">
      <img id="logo" src="/static/logo_light.svg" />
      <span id="logotext">TorqueLearn</span>
    </a>
    <div class="header-left-buttons">
      <a href="/Tutorials">
          Tutorials
      </a>
      <a href="/about">
          About
      </a>
    </div>
    <div class="header-right">
      <div>
        <input type="text" id="search" placeholder="Search...">
      </div>
    </div>
  </header>

  <div id="hero">
    <div id="hero-image"></div>
    <div id="hero-text">
      <h1>Welcome to TorqueLearn</h1>
      <span><em>open-source FRC learning</em></span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L40,256C80,256,160,256,240,229.3C320,203,400,149,480,138.7C560,128,640,160,720,181.3C800,203,880,213,960,197.3C1040,181,1120,139,1200,128C1280,117,1360,139,1400,149.3L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>  </svg>
  </div>
  <div id="boxes">
    <a class="box" href="/Tutorials/Getting%20Started/Getting%20Started">
      <h3>
        Get Started
      </h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="125px" height="50px" viewBox="0 0 125 50"> 
        <path d="M83.766,25l-15.054,12.47l1.288,1.53l18,-15.042l-18,-14.958l-1.29,1.528l15.058,12.472h-43.768v2h43.766z"></path>
        <rect width="125" height="50" style="stroke-width:3;stroke:rgb(0,0,0);fill: none;"></rect>
      </svg>
    </a>
    <a class="box" href="/Tutorials">
      <h3>
        Tutorials
      </h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="125px" height="50px" viewBox="0 0 125 50"> 
        <path d="M83.766,25l-15.054,12.47l1.288,1.53l18,-15.042l-18,-14.958l-1.29,1.528l15.058,12.472h-43.768v2h43.766z"></path>
        <rect width="125" height="50" style="stroke-width:3;stroke:rgb(0,0,0);fill: none;"></rect>
      </svg>
    </a>
    <a class="box" href="/about">
      <h3>
        About
      </h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="125px" height="50px" viewBox="0 0 125 50"> 
        <path d="M83.766,25l-15.054,12.47l1.288,1.53l18,-15.042l-18,-14.958l-1.29,1.528l15.058,12.472h-43.768v2h43.766z"></path>
        <rect width="125" height="50" style="stroke-width:3;stroke:rgb(0,0,0);fill: none;"></rect>
      </svg>
    </a>
  </div> 
</body>
</html>
