<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TorqueLearn - {PAGE_NAME}</title>
  <link rel="stylesheet" href="/static/main.css"/>
  <link rel="stylesheet" href="/static/section.css"/>
</head>
<body>
  <header>  
    <a href="/">
      <img id="logo" src="/static/logo_light.svg" />
      <span id="logotext">TorqueLearn</span>
    </a>
    <div class="header-left-buttons">
      <a href="/Tutorials">
          Tutorials
      </a>
      <a href="/about">
          About
      </a>
    </div>
    <div class="header-right">
      <div>
      </div>
    </div>
  </header>
  
  <div id="content">
    <h1>{TITLE}</h1>
    <br/>
    <div id="boxes">
      {CONTENT}
    </div>
  </div>
</body>
</html>
