html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  color: #222;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Times New Roman", Times, serif;
}

/*
 * HEADER 
*/

header {
  width: 100%;
  border-bottom: #111 solid 1px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header #logo {
  margin: 5px 5px 5px 5px;
  width: 4rem;
}

header #logotext {
  font-size: 1.5em;
  color: #000;
}

header .header-left-buttons {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

header .header-left-buttons a {
  border: none;
  color: #000;
  background-color: #fff;
  height: 3rem;
  font-size: 1.25em;
  margin-right: 16px;
  transition: color 0.25s linear;
}

header .header-left-buttons a:hover {
  cursor: pointer;
  color: #52534f;
  transition: color 0.25s linear;
}

header .header-right {
  margin-left: auto;
  margin-right: 5px;
}
