#content {
  margin: 40px auto 10px;
  text-align: center;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.section {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
